.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mat-sys-surface);
}

.upload-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home-button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

