<div class="list-header">
  <button mat-button routerLink="/">
    <mat-icon>arrow_back</mat-icon> Home
  </button>
  <h2 class="page-title">Meetings</h2>
  <button mat-flat-button color="primary" routerLink="/meetings/upload">+ New Meeting</button>
</div>

<div *ngIf="meetings$ | async as meetings; else loading" class="meetings-container">
  <ng-container *ngIf="meetings.length > 0; else noMeetings">
    <mat-card class="meeting-card" *ngFor="let meeting of meetings">
      <mat-card-header>
        <mat-card-title>{{ meeting.title }}</mat-card-title>
        <mat-card-subtitle>{{ meeting.date | date:'mediumDate' }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="card-meta">
          <span class="status-badge" [ngClass]="'status-' + meeting.status">{{ meeting.status }}</span>
          <span *ngIf="meeting.duration" class="meta-chip">{{ meeting.duration | number:'1.0-0' }}s</span>
          <span *ngIf="meeting.speakers?.length" class="meta-chip">{{ meeting.speakers!.length }} speakers</span>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/meetings', meeting.id]">View</button>
        <button mat-stroked-button color="warn" (click)="deleteMeeting(meeting.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

<ng-template #loading>
  <div class="center-text">Loading...</div>
</ng-template>

<ng-template #noMeetings>
  <div class="center-text">No meetings yet. Upload one to get started.</div>
</ng-template>
